<h1 class="title">Customers Missing Email</h1>

<%= link_to "All Customers", root_path %> |
<%= link_to "Alphabetized", customers_alphabetized_path %>

<div class="columns is-multiline">
  <% @customers.each do |customer| %>
    <div class="column is-one-quarter">
      <%= render "customer", customer: customer %>
    </div>
  <% end %>
</div>